## 1. Define File Path

In [1]:
import pandas as pd
import os

In [2]:
base_path = os.path.abspath('../')
print(base_path)

C:\Users\woong\Desktop\Machine-Learning\[Method] Data Merge From Various Files

In [3]:
data_path = os.path.join(base_path, '1. Data')
print(data_path)

C:\Users\woong\Desktop\Machine-Learning\[Method] Data Merge From Various Files\1. Data

In [4]:
file_path = os.listdir(data_path)
print(file_path)

['X_A.csv', 'X_BC', 'Y.csv']

In [5]:
Y_path = os.path.join(data_path, file_path[2]) # csv File
X_A_path = os.path.join(data_path, file_path[0]) # csv File
X_BC_path = os.path.join(data_path, file_path[1]) # Folder
print(Y_path)
print(X_A_path)
print(X_BC_path)

C:\Users\woong\Desktop\Machine-Learning\[Method] Data Merge From Various Files\1. Data\Y.csv
C:\Users\woong\Desktop\Machine-Learning\[Method] Data Merge From Various Files\1. Data\X_A.csv
C:\Users\woong\Desktop\Machine-Learning\[Method] Data Merge From Various Files\1. Data\X_BC

In [6]:
target = pd.read_csv(Y_path, engine = 'python', encoding = 'ms949')
A = pd.read_csv(X_A_path, engine = 'python', encoding = 'ms949')

## 2. Define Folder Path

In [7]:
BC = []
folder_path = os.listdir(X_BC_path)

for i, file in enumerate(folder_path) :
    print(i, file)
    folder_in_path = os.path.join(X_BC_path, file) 
    df = pd.read_csv(folder_in_path, engine = 'python', encoding = 'ms949')
    BC.append(df)

0 X_B.csv
1 X_C.csv

## 3. Merge Data

In [8]:
target.head(2)

   ID  Y
0   1  0
1   2  1

In [9]:
A.head(2)

   ID  X1  X2
0   1   1   2
1   2   2   3

In [10]:
BC[0].head(2)

   ID  X5  X6
0   1   3   1
1   2   5   2

In [11]:
BC[1].head(2)

   ID   X3   X4
0   1  A01  B02
1   2  A03  B04

In [12]:
df = target
df = pd.merge(df, A, how = 'left', on = 'ID')

for i, dataframe in enumerate(BC) :
    df = pd.merge(df, dataframe, how = 'left', on = 'ID')

In [13]:
df.head(2)

   ID  Y  X1  X2  X5  X6   X3   X4
0   1  0   1   2   3   1  A01  B02
1   2  1   2   3   5   2  A03  B04